body{
    background-color: rgb(56, 55, 55);
    color: rgb(238, 245, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
}


h1, p{
    text-align: center;
    margin: 1em auto;
}
p{
    font-style: italic;
}

form{
    
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;

}
fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid black;
}

fieldset:last-of-type {
    border-bottom: none;
}

label{
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: rgb(207, 209, 214);
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
  }

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #4c8670;
    border-color: white;
    min-width: 300px;
    color: aliceblue;
  }
